@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
margin:0;   
padding:0;
box-sizing:border-box;
}  

body{
background:#9370DB;  
font-family: 'poppins', sans-serif;
}

.container{
padding:25px; 
width:350px;
background:white;
border-radius:7px;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
overflow:hidden;
}

.container .app-name{
height:50px;
width:100%;
display:flex;
align-items:center;
padding-left:25px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
position:absolute;
top:0;
left:0;
color:grey;
font-size:14px;
}

.container .password-box{
height:60px;   
width:100%;
border-radius:7px;
display:flex;
align-items:center;
border:1px solid grey;
margin-top:60px;
}

.container .password-box input{
all:unset;  
height:60px;
width:240px;
padding-left:15px;
color:dimgrey;
}

.container .password-box .fa-copy{
position:absolute;   
right:40px;
color:#9370DB;
font-size:20px;
}

.container .pass-length{
display:flex;  
align-items:center;
margin-top:15px;
}

.container .pass-length input{
-webkit-appearance:none;
height:6px;
width:275px;
background:lightgrey;
border-radius:30px;
cursor:pointer;
}

.container .pass-length input::-webkit-slider-thumb{
-webkit-appearance:none;        
height:15px;
width:15px;
border-radius:100%;
background:#9370DB;  
}

.container .pass-length span{
position:relative; 
left:15px;
}

.container .generate-btn{
all:unset; 
height:50px;
width:100%;
color:white;
display:flex;
align-items:center;
justify-content:center;
border-radius:7px;
background:#9370DB;  
margin-top:25px;
cursor:pointer;
  }
